<div class="nav mb-2">
  <div class="row   " >
    <li class=""><img src="/assets/logohome.png" alt="vishnu traders" width="200px"></li>

  </div>
  <ul class="navs" >
    <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="OurServices" routerLinkActive="active">Our Services</a></li>
    <li><a routerLink="OtherServices" routerLinkActive="active">Other Services</a></li>
    <li style="float:right"><a  routerLink="About" routerLinkActive="active">About Us</a></li>
  </ul>
</div>
